body{
    text-align: center;
    background-color: rgb(122, 192, 171);
    
    
}

#start-menu-content{
    margin: 20%;
}
#game-grid,#start-menu{
    border: 5px solid red;
    position: absolute;
    width: 100%;
    height: auto;
}

table{
    
    width: 60%;
   
}
table, td ,th{
    border:  1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
}
td,th{
    padding: 10px;
    text-align: center;
    
}
