body{
    
    background-color: #B7DCF4;
    color: gray;
    
}

#start-menu-content{
    margin: 20%;
    
}
#game-grid,#start-menu{
    
    position: absolute;
    width: 100%;
    height: auto;
   text-align: center;
  
   
}


table{
    
    width: 60%;
   
}
table, td ,th{
    border:  1px solid black;
    border-collapse: collapse;
    opacity: 0.95;
}
td,th{
    padding: 10px;
    text-align: center;
    
}
#admenPasswordId{
	position: fixed;
	background-color: gray;
	
	right:34%;
	left:34%;
	bottom:53%;
	border: 2px solid black;
	border-radius:5%;
	padding: 1%;
	
}

#enter-admin-info{
	color: black;
}
#hideThePopUpBtn{
	float: right;
}


